body {
    background-color: #6ad1d2; /* Hex code for robin egg blue */
  }
  h1 {
    font-family: 'Courier New', Courier, monospace;
  }
  h2 {
    font-family: 'Courier New', Courier, monospace
  }
  p {
    font-family: 'Courier New', Courier, monospace;
  }
  .center-text {
    text-align: center;
  }